/*Aviso de Direitos Autorais

Este código é protegido por direitos autorais. Ele é disponibilizado 
exclusivamente para fins de estudo, pesquisa ou uso educacional. 
Qualquer reprodução, redistribuição, comercialização ou uso não autorizado, 
parcial ou integral, sem a devida permissão do autor, constitui violação de 
direitos autorais e está sujeito às sanções previstas na legislação vigente.

Caso deseje utilizá-lo para outras finalidades, entre em contato com o 
autor para obter a autorização necessária.*/


@import url('https://fonts.googleapis.com/css2?family=Itim&family=Kaushan+Script&family=Lilita+One&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Pacifico&family=Patua+One&family=Permanent+Marker&family=Pirata+One&family=Suez+One&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


* {
    user-select: none;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Open Sans';
    background-color: rgb(0, 0, 0);
}

.text {
    display: flex;
    flex-direction: column;
}.text h1 {
    font-size: 5vw;
    text-transform: uppercase;
    font-style: italic;
    background: linear-gradient(90deg, rgb(113, 2, 239), rgb(113, 2, 239), rgb(113, 2, 239), rgb(113, 2, 239), black);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 5vw;
    animation: back 20s ease-out infinite alternate;
}.text p {
    text-transform: uppercase;
    color: white;
    font-size: 1.8vw;
    transform: translateX(1vw);
}@keyframes back {
    to {
        background-position: -500%, -10000000000000000000000000000000%;
    }
}

.bola {
    z-index: -100;
    position: fixed;
    border-radius: 50%;
    height: 5vw;
    width: 5vw;
    background-color: rgba(158, 229, 255, 0.249);
    box-shadow: inset 0 0 0.5vw rgb(255, 255, 255), 0 0 1vw rgb(176, 231, 255);
}

.bola2 {
    z-index: -100;
    position: fixed;
    border-radius: 50%;
    height: 5vw;
    width: 5vw;
    background-color: rgba(255, 158, 143, 0.249);
    box-shadow: inset 0 0 0.5vw rgb(255, 255, 255), 0 0 1vw rgb(255, 125, 99);
}





  @media (max-width: 800px) {


    
}















